/packages/schemas/src/document
/packages/schemas/src/enum
/packages/**/coverage
/packages/**/docs
/packages/**/bin
/packages/**/cjs
/packages/**/dts
/packages/**/esm
/packages/**/tst
/packages/**/tsconfig/*.tsbuildinfo
/packages/**/node_modules
/packages/**/npm-debug.log
/.vscode
/node_modules
npm-debug.log